.feedback {
  display: flex;
  align-items: center;
}
.feedback__icon1 {
  fill: currentColor;
  margin-right: 10px;
  vertical-align: middle;
  &:hover {
    fill: var(--button-color);
  }
}
.feedback__contacts {
  margin-right: 50px;
  display: flex;
  align-items: center;

  &:last-child {
    margin: 0;
  }
}
.feedback__link {
  display: flex;
  color: var(--text-secondary-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  &:hover,
  &:focus {
    color: var(--button-color);
  }
}
