.header {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
}
.navigation-list {
  display: flex;
  align-content: flex-start;
  align-items: center;
}
.mobile__button {
  display: inline-flex;
  margin: auto;
  border: none;
  background-color: transparent;
  padding: 12px 8px;
}
.burger-btn {
  background-color: unset;
  border: unset;
  padding: unset;
  line-height: 0;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
