.slogan__title {
  margin-bottom: 30px;
  white-space: pre;
  color: var(--sup-head-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;

  @media screen and (min-width: 767px) {
    font-size: 44px;
  }
}
.slogan__button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--button-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--sup-head-color);
  border-radius: 4px;

  position: relative;
}
.slogan {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;

  @media screen and (min-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/fon.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @media screen and (min-width: 1199px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/hero-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
