.feedback {
  display: flex;
  align-items: center;
}
.feedback__icon1 {
  fill: currentColor;
  margin-right: 10px;
  vertical-align: middle;
  &:hover {
    fill: var(--button-color);
  }
}
.feedback__contacts {
  margin-right: 50px;
  display: flex;
  align-items: center;

  &:last-child {
    margin: 0;
  }
}
