.header {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
}
.navigation-list {
  display: flex;
  align-content: flex-start;
  align-items: center;
}
.mobile__button {
  display: inline-flex;
  margin: auto;
  border: none;
  background-color: transparent;
  padding: 12px 8px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
